body{
  text-align: center;
}

h1{
  color: #2d508f;
}

h2{
  text-align: left;
  padding-left: 10px;
}

header{
  margin-bottom: 20px;
  text-align: left;
  padding-top:10px;
  padding-bottom:10px
}

main{
  font-size: 18px;
  line-height: 26px;
}

main h2{
  border-bottom: 1px solid #eaecef;
  color: #2d508f;
}

ul {
  text-align: left;
}

p{
  text-align: left;
  padding-left: 10px;
}

li{
  padding-bottom: 10px;
}

.main-block{
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border: 3px solid #eaecef;
  border-radius: 5px;
}

.wrapper{
  display: inline-block;
  width:77%;
  text-align:center;
}

.myfoto{
  border-radius: 20px; 
}

.myfoto-wrapper{
  display: inline-block;
  vertical-align: top;
}
